@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
.header{
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgb(1, 1, 1);
}
.header-logo{
    width: 90px;
    height: 60px;
    padding-top: 15px;
    margin-right: 20px;
}
.search{
    width: 850px;
}
.search input{
    width: 100%;
    height: 30px;
    outline: 0;
    border: 0;
}
.SearchIcon{
   background-color: #f0c14b;   
   font-size: 30px !important;
   padding: 3px;
}
.links{
    display: flex;
  justify-content: space-evenly;
}
.links a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.top{
    display: flex;
  flex-direction: column;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.header-optionLineOne {
    font-size: 10px;
}
.header-optionLineTwo {
    font-size: 11px;
    font-weight: 800;
}
.header-optionBasket {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-optionBasket .header-basketCount {
    margin-left: 10px;
    margin-right: 10px;
}