.checkout{
    display: flex;
    height: max-content;
    padding: 20px;
    background-color: white;
}
.Checkout-ad {
    width: 100%;
    margin-bottom: 10px;
}
.checkout-title {
    margin-right: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}