.checkoutproduct{
    display: flex;
}
.checkoutproduct-image{
    object-fit: contain;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}
.checkoutproduct-info{
    padding-left: 20px;
}
.checkoutproduct-info  button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    padding:5px 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.checkoutproduct-info > button:active {
    transform: scale(0.8);
  }