.Product {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    max-height: 450px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    transition: background 0.3s ease;
  }
  .Product:hover {
    background-color: #131921;
    color: white;
  }
  .Product > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  .Product:hover img {
    transform: scale(1.1);
  }
  .product-info {
    width: 100%;
    min-height: 100px;
  }
  .product-price {
    margin-top: 5px;
    text-align: left;
    margin-bottom: 10px;
  }
  .product-rating {
    display: flex;
    align-items: center;
    width: 30px;
    color: #f0c14b;
  }
  .Product > button {
    display: block;
    margin: 3px auto 0;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  .Product > button:active {
    transform: scale(0.8);
  }